
body {
	margin: 0;
	padding: 0;
	max-width: 1440px;
	font-family: Roboto;
}

a{
	text-decoration: none;
 }

 *{
 	box-sizing: border-box;
 }
button{
	min-width: 140px;
	height: 38px;
	border-radius: 5px;
	background:none;
	line-height: 22px;
	margin-right: 34px;
	text-transform: uppercase;
	padding: 0;
	cursor:pointer;
}
.headnavigation a{
	color: #000000;
}
/* Шапка начало*/
.head-nav {
	width: 100%;
	margin: 0 auto;
}
.head-nav-button{
	border: 1px solid #F7941E;
	color: #F7941E;
}
.head-logo {
	width: 41px;
	height: 39px;
	margin-left: 80px;
}

.headnavigation-list{
	list-style: none;
	margin:0; 
	padding: 0;

}
.headnavigation-list li {
	display: inline-block;
	margin-right: 31px;
}
.headnavigation-list li:last-child{
	margin-right: 0;
}
.headnavigation-div{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	min-height: 116px;
}

/* Шапка конец */
/* Основной контент */
/* подарочки */
.findgift{
	display: flex;
	background-color: #F1F1F2;
}
.menwomen{
	order: 2;
	width: 710px;
}
.findgift-h2{
	font-size: 56px;
	line-height: 69px;
	margin-bottom: 36px;

}
.findgift-p{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 52px;
}

.findgift-flex{ 
	margin-right: auto;
	margin-left: auto; 
	margin-top: auto;
	margin-bottom: auto;
	width: 433px;
}
.findgift-button{
	border: none;
	color: #ffffff;
	background-color: #F7941E;
}
/* подарочки конец */
/* наша работа */
.ourwork{
	display: flex;
	background-color: #F1F1F2;
	margin-bottom: 70px;
}
.ourwork-img{
	width: 639px;
}
.ourwork-div{
	margin-right: auto;
	margin-left:auto;
	margin-top: auto;
	margin-bottom:auto;
	width: 441px;
}
.ourwork-h2{
	font-size: 32px;
	line-height: 45px;
	margin-bottom: 23px;
}
.ourwork-p{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 35px;
	}
.ourwork-button{
	border: 1px solid #F7941E;
	color: #F7941E;
}
/* причины */

.occasion-h2{
	text-align: center;
	font-size: 32px;
	line-height: 38px;
}
.occasion-p{
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
.occasion-list{
	list-style: none;
	padding: 30px;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	justify-content: center;
}	
.occasion-list a{
	color: #000000;
}
.occasion-seemore{
	display: inline-block;
	margin-top: 74px;
	font-size: 14px;
	line-height: 19px;
}
.occasion-items{
	background-color: #FAFAFA;
	margin-right: 35px;

}
.occasion-items:hover{
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.name-see{
	margin: 24px;
}
/* наша работа */
/* реди */
.ready{
	display: flex;
	justify-content: space-around;
	background-color: #F7941E;
}
.ready-h2{
	font-size: 32px;
	line-height: 45px;
	font-weight: bold;
	margin-bottom: 0;
}
.ready-p{
	font-size: 32px;
	line-height: 45px;	
	margin-top: 0;
}
.ready-but{
	display: flex;
	align-items: center;
}
.ready-but1{
	background-color: #231F20;
	color: #ffffff;
	border: 1px solid #231F20;
}
.ready-but2{
	background-color: transparent;
	color: #231F20;
	border: 1px solid #231F20;
}
.ready-text a{
	color: #000000;
}
/* нашблог */
.bestblogs-h2{
	text-align: center;
	font-size: 32px;
	line-height: 38px;
}
.bestblogs-p{
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
