
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;}

a{
	text-decoration: none;

 }
.headnavigation a{
	color: #000000;
}
/* Шапка начало*/
.head-nav {
	width: 1440px;
	margin: 0 auto;
}
.head-nav-button{
	min-width: 140px;
	height: 38px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid #F7941E;
	color: #F7941E;
	font-size: 18px;
	line-height: 22px;
}
.head-logo {
	width: 41px;
	height: 39px;
}

.headnavigation-list{
	list-style: none;
	margin:0; 
	padding: 0;
	display: inline-block;

}
.headnavigation-list li {
	display: inline-block;
	margin-right: 31px;
}
.headnavigation-list li:last-child{
	margin-right: 0;
}
.headnavigation-div{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	min-height: 116px;
}



/* Шапка конец */
.findgift{
	display: flex;
}
.menwomen{
	order: 2;
}
.findgift-flex{
/* 	display: flex;
direction: column;
align-items: center; */
}
.ourwork{

}
.occasion{


}